header {
    flex-flow: column;
}

aside {
    position: absolute;
    right: 50px;
  }
  
  Junior Full Stack Developer {
    font-weight: bold ;
}

hr {
    border: 3px solid black;
    flex-flow: column;
}

