header {
    flex-flow: column;
    display: flex;
    text-align: center;
}

aside {
    position: absolute;
    right: 50px;
  }

body{
    flex: auto;   
    background: rgba(221, 218, 20, 0);
    color: rgb(0, 0, 0);
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
  }

aside {
    flex-direction:row-reverse;
    flex:auto;
  }
  
html {
    background-color: #ffffff;
    border: 0.7em solid;
    flex: 200%;
}